<!-- Our Blog
<section class="iq-blogs position-relative iq-rmt-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="section-title">
                    <p class="mb-0 text-uppercase iq-fw-5 iq-ls-2">Latest Articles</p>
                    <h2 class="title iq-fw-8">Our Stories Post</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel"  data-loop="true" data-nav="false" data-dots="false" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1">
                    <div class="item">
                        <div class="main-blog">
                            <div class="blog-img">
                                <img src="images/blog/01.jpg" class="img-fluid" alt="image">
                            </div>
                            <div class="blog-detail">
                                <a class="main-color iq-fw-8" href="blog-details-left-sidebar.html">Design Concept</a>
                                <a href="blog-details-left-sidebar.html"><h5 class="mt-1 iq-fw-8">Fully dedicated finding.</h5></a>
                                <p class="mb-0">Progravida nibh vel velit auctor alinean sollicitudin.</p>
                                <div class="blog-info">
                                    <a href="#"><img src="images/blog/clients/01.jpg" class="img-fluid rounded-circle mr-3 user-img" alt="image"><span class="iq-fw-8 font-c iq-font-18">John Deo</span></a>
                                    <ul class="d-inline-block float-right">
                                        <li class="d-inline-block"><a href="#"><i class="far fa-thumbs-up"></i> <span class="iq-fw-8 iq-font-14">90</span></a></li>
                                        <li class="d-inline-block"><a href="#"><i class="far fa-comment-alt"></i> <span class="iq-fw-8 iq-font-14">120</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main-blog">
                            <div class="blog-img">
                                <img src="images/blog/02.jpg" class="img-fluid" alt="image">
                            </div>
                            <div class="blog-detail">
                                <a class="main-color iq-fw-8" href="blog-details-left-sidebar.html">Design Concept</a>
                                <a href="blog-details-left-sidebar.html"><h5 class="mt-1 iq-fw-8">Progravida nibh vel.</h5></a>
                                <p class="mb-0">Progravida nibh vel velit auctor alinean sollicitudin.</p>
                                <div class="blog-info">
                                    <a href="#"><img src="images/blog/clients/02.jpg" class="img-fluid rounded-circle mr-3 user-img" alt="image"><span class="iq-fw-8 font-c iq-font-18">Kips Leo</span></a>
                                    <ul class="d-inline-block float-right">
                                        <li class="d-inline-block"><a href="#"><i class="far fa-thumbs-up"></i> <span class="iq-fw-8 iq-font-14">90</span></a></li>
                                        <li class="d-inline-block"><a href="#"><i class="far fa-comment-alt"></i> <span class="iq-fw-8 iq-font-14">120</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main-blog">
                            <div class="blog-img">
                                <img src="images/blog/03.jpg" class="img-fluid" alt="image">
                            </div>
                            <div class="blog-detail">
                                <a class="main-color iq-fw-8" href="blog-details-left-sidebar.html">Design Concept</a>
                                <a href="blog-details-left-sidebar.html"><h5 class="mt-1 iq-fw-8">Auctor alinean.</h5></a>
                                <p class="mb-0">Progravida nibh vel velit auctor alinean sollicitudin.</p>
                                <div class="blog-info">
                                    <a href="#"><img src="images/blog/clients/03.jpg" class="img-fluid rounded-circle mr-3 user-img" alt="image"><span class="iq-fw-8 font-c iq-font-18">Glen Jax </span></a>
                                    <ul class="d-inline-block float-right">
                                        <li class="d-inline-block"><a href="#"><i class="far fa-thumbs-up"></i> <span class="iq-fw-8 iq-font-14">90</span></a></li>
                                        <li class="d-inline-block"><a href="#"><i class="far fa-comment-alt"></i> <span class="iq-fw-8 iq-font-14">120</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main-blog">
                            <div class="blog-img">
                                <img src="images/blog/04.jpg" class="img-fluid" alt="image">
                            </div>
                            <div class="blog-detail">
                                <a class="main-color iq-fw-8" href="blog-details-left-sidebar.html">Design Concept</a>
                                <a href="blog-details-left-sidebar.html"><h5 class="mt-1 iq-fw-8">Alinean sollicitudin.</h5></a>
                                <p class="mb-0">Progravida nibh vel velit auctor alinean sollicitudin.</p>
                                <div class="blog-info">
                                    <a href="#"><img src="images/blog/clients/04.jpg" class="img-fluid rounded-circle mr-3 user-img" alt="image"><span class="iq-fw-8 font-c iq-font-18">JD Scot</span></a>
                                    <ul class="d-inline-block float-right">
                                        <li class="d-inline-block"><a href="#"><i class="far fa-thumbs-up"></i> <span class="iq-fw-8 iq-font-14">90</span></a></li>
                                        <li class="d-inline-block"><a href="#"><i class="far fa-comment-alt"></i> <span class="iq-fw-8 iq-font-14">120</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main-blog">
                            <div class="blog-img">
                                <img src="images/blog/02.jpg" class="img-fluid" alt="image">
                            </div>
                            <div class="blog-detail">
                                <a class="main-color iq-fw-8" href="blog-details-left-sidebar.html">Design Concept</a>
                                <a href="blog-details-left-sidebar.html"><h5 class="mt-1 iq-fw-8">Fully dedicated finding.</h5></a>
                                <p class="mb-0">Progravida nibh vel velit auctor alinean sollicitudin.</p>
                                <div class="blog-info">
                                    <a href="#"><img src="images/blog/clients/05.jpg" class="img-fluid rounded-circle mr-3 user-img" alt="image"><span class="iq-fw-8 font-c iq-font-18">Nils Leo</span></a>
                                    <ul class="d-inline-block float-right">
                                        <li class="d-inline-block"><a href="#"><i class="far fa-thumbs-up"></i> <span class="iq-fw-8 iq-font-14">90</span></a></li>
                                        <li class="d-inline-block"><a href="#"><i class="far fa-comment-alt"></i> <span class="iq-fw-8 iq-font-14">120</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollme">
        <img src="images/blog/05.png" class="img-fluid blog-one animateme" data-when="exit"
        data-from="0.5"
        data-to="0"
        data-translatex="50"
        alt="#">
    </div>
</section> Our Blog END -->


<div class="iq-clients overview-block-ptb w-100  pt-0 d-inline-block">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 text-center">
            <div class="section-title">
                <p class="mb-0 text-uppercase iq-fw-5 iq-ls-2">Nuestros partners</p>
                <h2 class="title iq-fw-8">Agencias que amamos</h2>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <div id="clients-slider" class="owl-carousel owl-theme owl-loaded " data-dots="false" data-nav="false" data-items="5" data-items-laptop="5" data-items-tab="4" data-items-mobile="3" data-items-mobile-sm="2" data-autoplay="true" data-margin="30">
            <div class="clients-box">
                <img src="images/clients/9.png" class="img-fluid " alt="">
            </div>
            <div class="clients-box">
                <img src="images/clients/10.png" class="img-fluid " alt="">
            </div>
            <div class="clients-box">
                <img src="images/clients/11.png" class="img-fluid " alt="">
            </div>
            <div class="clients-box">
                <img src="images/clients/12.png" class="img-fluid " alt="">
            </div>
            <div class="clients-box">
                <img src="images/clients/9.png" class="img-fluid " alt="">
            </div>
            <div class="clients-box">
                <img src="images/clients/10.png" class="img-fluid " alt="">
            </div>
            <div class="clients-box">
                <img src="images/clients/11.png" class="img-fluid " alt="">
            </div>
        </div>
        </div>
    </div>
</div>