<section class="iq-contact-us pb-0" id="contacto">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title mb-4">
            <h2 class="title iq-fw-8">Contact Form</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="project-form mb-3">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control contact-first-name"   placeholder="First Name">
                  
                </div>
                <div class="form-group">
                  <input type="text" class="form-control contact-phone"   placeholder="Phone Number">
                  
                </div>
                <div class="form-group">
                  <input type="email" class="form-control contact-email"   placeholder="Email">
                  
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <textarea class="form-control contact-message" placeholder="Type Your Requirement" ></textarea>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-12">
          <a class="slide-button button contact-us-button" href="#">
            <div class="first">Submit</div>
            <div class="second">Submit</div>
          </a>
          
        </div>
      </div>
    </div>
</section>